.wrapper {
    height: var(--default-layout-header-height);
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
    display: flex;
    justify-content: center;
}

.inner {
    width: var(--default-layout-width);
    padding: 0 var(--default-padding-horizontal-spacer);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

// action
.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    font-size: 2rem;
    margin-left: 28px;
    background-color: transparent;
    padding: 4px 8px;
    cursor: pointer;
}

.action-btn {
    position: relative;
    display: flex;
    background-color: transparent;
    font-size: 2.2rem;
    color: #161823;
    padding: 4px 12px;
    cursor: pointer;
}
.badge {
    position: absolute;
    -webkit-box-pack: center;
    top: -3px;
    right: 3px;
    min-width: 25px;
    height: 20px;
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 18px;
    background-color: rgb(254, 44, 85);
    color: rgb(255, 255, 255);
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 12px;
    cursor: pointer;
}
